body{
    font-family: 'Roboto', sans-serif;
    height:100vh;
}
header img {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}
header {
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: #b7e5e0;
}
.textAtBottom h1 {
    font-size: 2em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top:50px;
}
.textAtBottom h3 {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.textAtBottom {
    /*background-color: #F7B32B;*/
    height:20vh;
}
.logos_container{
    position:relative;
    height:100%;
    margin-top: 50px;

}
.main_body {
    position:relative;
    /*background-color:#FCF6B1;*/
    /*top: 3em;*/
}
.logos_container img {
    border: 1px solid black;
    margin: 10px;
    width: 70px;
    height: 70px;
}
.logos_container {
    position: relative;
    top: 0;
    left: 0;
}
#map{
    width: 100%;
    height: 60vh;
    position:relative;
}
#bottom_buttons button {
    width: 80%;
    height: 10%;
    margin: 5px 0;
    position: relative;
    left: 10%;
}
.advertising_video {
    width: 100%;
    position: relative;
    margin-top: 50px;
}
